html {
  overflow-x: hidden;
 }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif; }

.navbar li{
  font-weight: 400;
    font-family: "Montserrat", Arial, sans-serif;
}
#scroll-nav {
  padding: 0;

   position: fixed;
   /* Make it stick/fixed */
   top: -100px;
   /* Hide the navbar 50 px outside of the top view */
   width: 100%;
   /* Full width */
   transition: top 0.3s;
   /* Transition effect when sliding down (and up) */
   background: #ADA996;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: #000;
 }
  #particles-js {
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae8584287da6fac5895bbe4fb80f9f5f&auto=format&fit=crop&w=1050&q=80), linear-gradient(#ffffff, #2a567b, transparent);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-blend-mode: hard-light;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive; }

  #header .f-head {
    color: white;
    position: absolute;
    font-size: 50px;
    padding: 20px;
    top: 26%;
    left: 40%;
    font-weight: bold;
    letter-spacing: 0.2em;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive; }

  #header .s-head {
    color: white;
    position: absolute;
    font-size: 50px;
    padding: 20px;
    top: 35%;
    left: 32%;
    font-weight: bold;
    letter-spacing: 0.3em;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive; }

  .register-button {
    position: absolute;
    top: 60%;
    left: 40%; }
.register-button a{
  text-decoration: none;
  color: #000;
}
  #button {
    width: 200px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 25px;
    letter-spacing: 4px;
    background: #fff;
    color: black; }

  #button:hover {
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    color: black;
    transition: 0.3s all ease; }

  .arrow {
    width: 60px;
    height: 82px;
    position: absolute;
    top: 75%;
    left: 45%;
    margin-left: 0px;
    bottom: 5%;
    z-index: 999; }

  /* set arrow styles */
  .arrow path {
    stroke: #fff;
    stroke-width: 2px;
    fill: transparent;
    animation: down 2s infinite; }

  /* arrow keyframe animation */
  @keyframes down {
    0% {
      opacity: 0; }
    25% {
      opacity: 1; }
    75% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  /* arrow animation delay */
  .arrow path.a1 {
    animation-delay: -1s; }

  .arrow path.a2 {
    animation-delay: -.5s; }

  .arrow path.a3 {
    animation-delay: 0s; }

  @media (max-width: 540px) {
    #header .f-head {
      color: white;
      position: absolute;
      font-size: 30px;
      padding: 20px;
      top: 26%;
      left: 35%;
      font-weight: bold;
      letter-spacing: 0.3em;
      background-attachment: fixed;
      font-family: 'Poiret One', cursive; }

    #header .s-head {
      color: white;
      position: absolute;
      font-size: 30px;
      padding: 20px;
      top: 35%;
      left: 20%;
      font-weight: bold;
      letter-spacing: 0.3em;
      background-attachment: fixed;
      font-family: 'Poiret One', cursive; }

    .register-button {
      position: absolute;
      top: 60%;
      left: 30%; } }

      #about {
        position: relative;
        padding: 40px 0 0 0;
        height: auto;
        overflow: hidden;
        font-family: sans-serif; }

      #about h3 {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 400;
        color: #444;
        margin-top: 40px; }

      #about p {
        width: 80%;
        /* text-align: center; */
        margin: 0 auto;
        margin-top: 70px;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-family: 'Dosis', arial, sans-serif; }

      blockquote {
        padding: 0;
        border: none;
        background: none;
        font-style: normal;
        line-height: 1.7;
        color: #777;
        margin-bottom: 100px; }

      .mt-100 {
        margin-top: 20px; }

      .mb-40 {
        margin-bottom: 40px; }

      .mt-40 {
        margin-top: 40px; }

      .mt-80 {
        margin-top: 80px; }

      .bg-grey {
        background: #f0f0f0; }
        .mont {
          font-family: 'Montserrat', sans-serif; }

        .about-quote {
          font-size: 12px; }

        .event-quote {
          font-size: 15px;
          text-align: left; }



.event-header2{
  margin-top: 100px;

}


#pb_loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#pb_loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#pb_loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#pb_loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#pb_loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }





 .pb_slide_v2 .slide_content > .pb_content-media {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }


.pb_section {
  padding: 3em 0;
  position: relative;
  display: block; }
  @media (max-width: 991px) {
    .pb_section {
      padding: 4em 0; } }
  .pb_section.pb_bg-half:before {
    top: 50%;
    content: "";

    bottom: 0%;
    width: 100%;
    left: 0;
    position: absolute; }

.images {
  position: relative; }
  .images .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      .images .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }
  .images.right .img1 {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
  .images.right .img2 {
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: 1;
    max-width: 500px; }
    @media (max-width: 767px) {
      .images.right .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }


.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #000; }
  @media (max-width: 767px) {
    .slick-arrow {
      display: none !important; } }
  .slick-arrow.prev {
    left: 20px; }
  .slick-arrow.next {
    right: 20px; }
  .slick-arrow i {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.slick-dots {
  position: absolute;
  bottom: -40px;
  z-index: 1;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      position: relative; }
      .slick-dots li button:before {
        width: 7px;
        height: 7px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          background: rgba(0, 0, 0, 0.7); }
    .slick-dots li.slick-active button:before {
      background: rgba(0, 0, 0, 0.7); }



.pb_slide_v2 .slick-slide {
  padding: 10px;
  position: relative; }

.pb_slide_v2.slider-nav .slick-slide {
  margin: 10px;
  padding: 0;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  border: 2px solid transparent; }
  .pb_slide_v2.slider-nav .slick-slide .pb_card_v2 {
    background: none; }
  .pb_slide_v2.slider-nav .slick-slide.slick-current .pb_card_v2 {
    background: none; }
  .pb_slide_v2.slider-nav .slick-slide.slick-current .icon i:before {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    color: #00CA4C; }

.pb_slide_v2 .slide_content {
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
  @media (max-width: 991px) {
    .pb_slide_v2 .slide_content > .pb_content-media {
      height: 350px; } }
  .pb_slide_v2 .slide_content > .pb_content-media, .pb_slide_v2 .slide_content .slide_content-text {
    width: 50%; }
    @media (max-width: 991px) {
      .pb_slide_v2 .slide_content > .pb_content-media, .pb_slide_v2 .slide_content .slide_content-text {
        width: 100%; } }
  .pb_slide_v2 .slide_content .slide_content-text {
    padding: 50px; }
    @media (max-width: 991px) {
      .pb_slide_v2 .slide_content .slide_content-text {
        padding: 20px; } }

@media (max-width: 991px) {
  .pb_slide_v2 .slick-arrow {
    display: none; } }

.pb_slide_v2 .slick-arrow.prev {
  left: -50px; }

.pb_slide_v2 .slick-arrow.next {
  right: -50px; }

.overflow-hidden {
  overflow: hidden; }


.silver{
  background-color: #C0C0C0;
}
#highlights{
  height: auto;
}


.rop{
  font-size: 0.8rem;
}
.mt-120{
  margin-top: 120px;
}
#rules-col{
    background-color: #fff;
}

#highlights img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


/* Sponsors  */
/*Sponsors List*/

.sponsorstitle {
  font-size: 20px;
  position: relative;
  font-weight: lighter;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  left: 0px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.sponsorstitle h1 {
  color:black;
  font-weight: lighter;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.sponsors {
  position: relative;
  text-align: center;
}

.sponsors ul {
  list-style: none;
  margin: auto;
  padding: 0;
}

.sponsors ul li {
  display: inline-block;
}

#box1 {
  width: 200px;
  height: 200px;
  background: url(http://www.applitrack.com/sau25/onlineapp/images/districtLogo.gif);
  background-size: cover;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box2 {
  width: 200px;
  height: 200px;
  background: url(http://dyn.com/wp-content/themes/dynamic/images/dyn-orb-share.png);
  background-color: white;
  background-size: 125px 125px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box3 {
  width: 200px;
  height: 200px;
  background: url(https://documents.clubexpress.com/clubs/634084/graphics/160_BMC_Color1.jpg);
  background-size: cover;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box4 {
  width: 200px;
  height: 200px;
  background: url(https://evbdn.eventbrite.com/s3-s3/eventlogos/55840291/anagnostlogocos.jpg);
  background-color: white;
  background-size: 125px 75px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
  background-position: 0px 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box5 {
  width: 200px;
  height: 200px;
  background: url(http://pizzabellaemory.com/wp-content/uploads/2012/09/cropped-pizza-bella-web.jpg);
  background-color: white;
  background-size: 125px 75px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
  background-position: 0px 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box6 {
  width: 200px;
  height: 200px;
  background: url(http://physicianemployerdirectory.com/wp-content/uploads/2014/08/Elliot-Health-System-logo.png);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
  background-size:150px 100px;
  background-position: -10px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box7 {
  width: 200px;
  height: 200px;
  background-size:150px 100px;
 background: url(https://www.catholicmedicalcenter.org/library/images/common/logo-new.gif);
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:115px 70px;
  margin: 5px;
  background-position: 5px 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

#box8 {
  width: 200px;
  height: 200px;
  background-size: cover;
  overflow: hidden;
  margin: 5px;
}

#overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 60px 0 60px 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.sponsors a {
  text-decoration: none;
}

#name {
  font-weight: lighter;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: rgba(255, 255, 255, .85);
  font-size: 10px;
}

#box1:hover #overlay,
#box2:hover #overlay,
#box3:hover #overlay,
#box4:hover #overlay,
#box5:hover #overlay,
#box6:hover #overlay,
#box7:hover #overlay {
  opacity: 1;
}

/*  team  */
#author img {
  margin-top: -50px; }
#author .card:hover {
  background-color: #3292a6;
  color: #fff; }
#author .fab {
  color: #fff; }


  /*   Footer   */
  #footer{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: "Montserrat", Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    height: auto;
  }
  .foo-header{
  width: 60%;
  margin-bottom: 1.4rem;
  }
  .foo-head{
    border-bottom: 1px solid #ddd;
  }
.display-8{
  font-size: 2.6rem;
}


#map_container{
  position: relative;
}
#map{
    height: 100px;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
